<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/images/forum.ico" type="image-x-icon">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1 class="des">
        <%= title %>
    </h1>
    <p>欢迎来到
        <%= title %>
    </p>
    <a href="<%= link %>" rel="noopener noreferrer">加入论坛</a>
    <a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=i4NF0S3QgdjhwlCLmYJFczpYHC5AI1kx&jump_from=webapi"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="JrForum基地" title="JrForum基地"></a>
    <a href="https://discord.gg/aaUFccY2"> <img src="https://img.shields.io/badge/Discord-JrForum's%20world-blue?style=flat&logo=Discord"></a>
</body>

</html>
