body {
    background-color: #2A2029;
    text-align: center;
    padding: 10px 10px;
    color: #ffff;
}

.title {
    background: url(/images/404TitleMash.png);
    background-clip: text;
    animation-name: masked-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-animation-name: masked-animation;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    font-size: 10rem;
}

.description {
    color: white;
    font-size: 1rem;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right bottom;
    }
}

@-moz-keyframes masked-animation {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right bottom;
    }
}

@keyframes masked-animation {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right bottom;
    }
}

a {
    color: #33FF00;
    text-decoration: overline;
}