body {
    background-color: rgb(31, 28, 28);
    color: white;
}

.main-title {
    position: absolute;
    color: white;
    left: 90%;
    /* float: right; */
}

.main-title img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    border: 0px solid #126dff;
    transition: border 0.5s;
}

.main-title img:hover {
    border: 3px solid #126dff;
}

.postthing {
    margin: 30px 30px;
    width: 100%;
}

p.author {
    color: white;
}

li.apost {
    width: 1000px;
}


/* #qq {
    position: absolute;
    top: 110%;
    left: 89%;
} */

footer {
    text-align: center;
    display: block;
    position: fixed;
    left: 90%;
    top: 30%;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 43, 46);
    border: 1px solid grey;
    border-radius: 25px;
    overflow: scroll;
}

footer a {
    color: #F2F248;
    text-decoration: none;
}

footer p {
    font-size: 5px;
    text-align: center;
}

#navbarlogin {
    position: absolute;
    left: 92%;
}

h2.contain-welcome {
    width: 100%;
    text-align: center;
}


/* div.updates {
    position: fixed;
    text-align: center;
    left: 89%;
    color: white;
    top: 60%;
    background-color: rgb(40, 43, 46);
    border: 2px solid grey;
    border-radius: 25px;
    overflow: scroll;
} */

.send {
    margin-top: 30px;
}

.pBtn {
    background-color: #126dff;
    color: #ffffff;
}

.navbar {
    background-color: #126dff;
    color: #ffffff;
}