body {
    background-color: rgb(31, 28, 28);
    color: black;
}

p.main-title {
    color: white;
    left: 47%;
}

.postthing {
    margin: 30px 30px;
    width: 100%;
}

p.author {
    color: white;
}

li.apost {
    width: 1000px;
}


/* #qq {
    position: absolute;
    top: 110%;
    left: 89%;
} */

footer {
    text-align: center;
    display: block;
    position: fixed;
    left: 90%;
    top: 30%;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 43, 46);
    border: 1px solid grey;
    border-radius: 25px;
    overflow: scroll;
}

footer a {
    color: #F2F248;
    text-decoration: none;
}

footer p {
    font-size: 5px;
    text-align: center;
}

#navbarlogin {
    position: absolute;
    left: 92%;
}


/* img.contain-img {
    width: 100%;
    filter: blur(7px);
} */


/* div.container {
    border: 5px solid grey;
    border-radius: 25px;
} */

h2.contain-welcome {
    width: 100%;
    text-align: center;
}


/* div.updates {
    position: fixed;
    text-align: center;
    left: 89%;
    color: white;
    top: 60%;
    background-color: rgb(40, 43, 46);
    border: 2px solid grey;
    border-radius: 25px;
    overflow: scroll;
} */

.send {
    margin-top: 30px;
}