<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous" />
    <link rel="shortcut icon" href="/images/forum.ico" type="image-x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <link rel="stylesheet" href="/stylesheets/addPost.css">

</head>

<body class="mdui-theme-layout-dark">
    <h1 class="title">发布帖子</h1>
    <!-- <form action="/api/postPost" method="post"> -->
    <div id="post">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">标题</label>
            <input class="mdui-textfield-input" name="title" type="text" minlength="2" v-model="title" maxlength="30" />
        </div>
        <br>
        <textarea type="text" name="content" id="thing" placeholder="内容" minlength="5" v-model="content" required></textarea>
        <br>
        <p class="bk">板块</p>
        <select class="mdui-select" name="topic" v-model="topic" mdui-select>
            <option v-bind:value=t[0] v-for="t in topics">{{t[1]}}</option>
        </select>
        <br>
        <!-- <button type="reset" class="mdui-btn mdui-ripple mdui-color-red">重写</button> -->
        <button type="submit" id="submit" class="mdui-btn mdui-ripple mdui-color-green" v-on:click="submit">提交</button>
        <a href="/home" type="button" class="mdui-btn mdui-ripple mdui-color-yellow">返回主页</a>
        <!-- </form> -->
    </div>

    <script src="/javascripts/addPost.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js" integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A" crossorigin="anonymous"></script>
</body>

</html>